# Ignore all files in any images directory (but keep the directory structure)
**/images/*

# Ignore all log files everywhere
*.log
**/*.log

# Optional: Also ignore common log directories
logs/
**logs/

# Ignore large model files
*.bin
*.safetensors
*.onnx
*.pt
*.pth
*.model
*.pkl

# Ignore dataset files
*.csv
*.tsv
**/*.parquet

# Ignore large directories
models/
checkpoints/
data/
datasets/

**/*.zip

test/

*_official/

tmp/**

# not ignore these files
!MME-RealWorld-Lite/data/unzip_file.sh
